<style> 
    a{text-decoration: none;} 
    ul {list-style-type: none;} 
    .menu li {display: inline-flex;padding-left: 20px;} 
    .menu a {font-size: 20px;color: rgb(28, 87, 32);} 
    .Doc-menu {text-align: center;} 
    .blockGrop {display: inline-flex;}
    .blockGrop .content {padding-left: 20px;}
</style> 
<div class="Doc-menu"> 
    <ul class="menu" >
        <li><a href='{% url 'homepage' %}'>Главная </a></li> 
        <li><a href='{% url 'about' %}'>О нас </a></li> 
        <li><a href='#'>Меню </a></li> 
        <li><a href='#'>Контакты </a></li> 
    <ul>
</div> 
<div class="blockGrop">
{% for n in news %} 
<div class="content">
<h4>{{n.title}}</h4> 


{% if n.image %}

<img src="{{n.image.url}}" width="200px">
{% endif %}
<p>"{{n.image.url}}" width="200px"</p>

<h3>{{n.desc}}</h3>
</div>
{% endfor %}

</div>
